/* src/styles/tailwind.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: white;
}

.container {
    padding-left: 5%;
    padding-right: 5%;
}

.btn {
    background-color: #014802;
    color: white;
    padding: 10px 14px;
    font-size: 22px;
    font-weight: 450;
    border-radius: 15px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
}

.btn img {
    width: 45px;
    margin-left: 10px;

}

.btn:hover {
    background-color: #038a05;
    color: white;
}