:root {
  --PrimaryColor: #014802;
  --SecondaryColor: rgb(1, 122, 4);
  --LightColor: rgb(135, 250, 137);
  --gradientColor: linear-gradient(to bottom, hsl(121, 97%, 14%), hsl(121, 98%, 35%));
  --gradientColor2: linear-gradient(to right, hsl(121, 97%, 14%), hsl(121, 98%, 35%), hsl(121, 97%, 14%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 13%);
  --textColor: hsl(0, 0%, 0%);
  --inputColor: rgb(43, 40, 40);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(255, 255, 235);
}

.footer {
  margin-top: 5%;
  padding-top:7%;
}
.footer .footerLinks {
  height: 30vh;
  width: 100%;
  background-color: var(--PrimaryColor);
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.4);
  display: flex;
  justify-content: space-between;
  /* Updated to space between */
  align-items: center;
  padding: 20px 5%;
  /* Updated padding */
}
.footer .bottomSection {
  height: 2rem;
  width: 100%;
  background: var(--gradientColor2);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.9);
  z-index: -100;
}
.footer .bottomSection h3 {
  color: var(--PrimaryColor);
  align-items: center;
  text-align: center;
  /* Updated text alignment */
  line-height: 3rem;
  /* Updated to vertically center */
  font-weight: 500;
}
.footer .linkGroup {
  flex: 1;
}
.footer .linkGroup .groupTitle {
  font-weight: 800;
  font-size: 1.25rem;
  color: var(--whiteColor);
  margin-bottom: 1rem; /* Add margin-bottom for spacing */
}
.footer .linkGroup:nth-child(2) .footerList:hover {
  transition: none;
  cursor: initial;
  color: var(--whiteColor);
  font-weight: initial;
  transform: initial;
}
.footer .linkGroup:nth-child(2) .footerList .cont-icon {
  font-size: 24px;
}
.footer .linkGroup:nth-child(2) .footerList .phoneNumber {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer .linkGroup.contactInfo {
  flex: 0;
  text-align: left;
}
.footer .linkGroup .footerList {
  padding-top: 10px;
  padding-left: 20px;
  color: var(--whiteColor);
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .linkGroup .footerList:hover {
  transition: 0.2s ease-in-out;
  cursor: pointer;
  color: var(--LightColor);
  font-weight: 600;
  transform: translateX(5px);
  transform: initial;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .footer {
    margin-top: 0.5rem;
  }
  .footer .bottom-logo {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    /* Center the image horizontally */
    margin-bottom: 1rem;
    /* Adjust margin as needed */
  }
  .footer .bottom-logo img {
    width: 50%;
    /* Ensure the image doesn't exceed its container's width */
    height: auto;
    /* Maintain aspect ratio */
  }
  .footer .footerLinks {
    height: auto;
    display: grid;
    justify-content: space-between;
    /* Updated to space between */
    align-items: center;
    padding: 20px 5%;
    /* Updated padding */
  }
  .footer .bottomSection {
    height: 3rem;
    width: 100%;
    background-color: var(--gradientColor2);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.9);
    z-index: -100;
  }
  .footer .bottomSection h3 {
    color: var(--PrimaryColor);
    text-align: center;
    /* Updated text alignment */
    line-height: 3rem;
    /* Updated to vertically center */
    font-weight: 500;
  }
  .footer .linkGroup .groupTitle {
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 0rem;
  }
  .footer .linkGroup:nth-child(2) {
    margin-top: 20px;
  }
  .footer .linkGroup:nth-child(2) .footerList {
    display: inline-flex;
    gap: 20px;
  }
  .footer .linkGroup:nth-child(2) .footerList .phoneNumber {
    position: relative;
    padding-right: 20px;
  }
  .footer .linkGroup:nth-child(2) .footerList .cont-icon {
    font-size: 15px;
  }
  .footer .linkGroup.contactInfo {
    text-align: left;
  }
  .footer .linkGroup .footerList {
    padding-top: 10px;
    padding-left: 20px;
    display: inline-flex;
    gap: 6px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .footer {
    margin-top: 0.5rem;
  }
  .footer .bottom-logo {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    /* Center the image horizontally */
    margin-bottom: 1rem;
    /* Adjust margin as needed */
  }
  .footer .bottom-logo img {
    width: 50%;
    /* Ensure the image doesn't exceed its container's width */
    height: auto;
    /* Maintain aspect ratio */
  }
  .footer .footerLinks {
    height: auto;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 5%;
    /* Updated padding */
  }
  .footer .bottomSection {
    height: 3rem;
    width: 100%;
    background-color: var(--gradientColor2);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.9);
    z-index: -100;
  }
  .footer .bottomSection h3 {
    color: var(--PrimaryColor);
    text-align: center;
    /* Updated text alignment */
    line-height: 3rem;
    /* Updated to vertically center */
    font-weight: 500;
  }
  .footer .linkGroup .groupTitle {
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 0rem;
  }
  .footer .linkGroup:nth-child(2) {
    margin-top: 20px;
  }
  .footer .linkGroup:nth-child(2) .footerList {
    display: inline-flex;
    gap: 20px;
  }
  .footer .linkGroup:nth-child(2) .footerList .phoneNumber {
    position: relative;
    padding-right: 20px;
  }
  .footer .linkGroup:nth-child(2) .footerList .cont-icon {
    font-size: 15px;
  }
  .footer .linkGroup.contactInfo {
    text-align: left;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) *//*# sourceMappingURL=footer.css.map */