@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Poppins", sans-serif; */
body{
    font-family: "poppins",sans-serif;
}
.box{
    font-family: "poppins", sans-serif;
    font-size: 20px;
    
}
.box h1{
    font-size: 52px;
    font-weight: 700;
    color: #015F03;
}
.box h2{
    font-size: 26px;
    font-weight: 700;
}
.box1 .dis .name{
    /* font-size: 8px; */
}
.file-upload:hover .dis .upload{
    animation: anim1 0.8s infinite;
    position: relative;
    
}
@keyframes anim1{
    0%{
        top: 0px;
        


    }
    100%{
        top: 20px;

    }
}

.my-custom-modal-class .swal2-confirm {
    background-color: green;
    color: #ffffff;
    border-color: white;
  }
 